  <!-- ======= Footer ======= -->
  <footer id="footer" class="footer">

    <div class="footer-content position-relative">
      <div class="container">
        <div class="row">

          <div class="col-lg-4 col-md-6">
            <div class="footer-info">
              <h3>Poimen Ministry</h3>
              <p>
                Ethiopia, Addis Abeba <br>
               
                <strong>Phone:</strong> +251 929522543<br>
                <strong>Email:</strong> info@example.com<br>
              </p>
              <div class="social-links d-flex mt-3">
                <a href="#" class="d-flex align-items-center justify-content-center"><i class="bi bi-youtube"></i></a>
                <a href="#" class="d-flex align-items-center justify-content-center"><i class="bi bi-facebook"></i></a>
               
                <a href="#" class="d-flex align-items-center justify-content-center"><i class="bi bi-telegram"></i></a>
              </div>
            </div>
          </div><!-- End footer info column-->

          <div class="col-lg-2 col-md-3 footer-links" style="margin-left: 20px;">
          
            <ul>
              <li><a href="{% url 'index' %}">Home</a></li>
              <li><a href="{% url 'about' %}">About us</a></li>
              <li><a href="{% url 'service' %}">Services</a></li>
              <!-- <li><a href="#">Terms of service</a></li>
              <li><a href="#">Privacy policy</a></li> -->
            </ul>
          </div><!-- End footer links column-->

   
        </div>
        
      </div>
    </div>

    <div class="footer-legal text-center position-relative ">
      <div class="container">
        <div class="copyright">
          &copy; Copyright <strong><span>Poimen Ministry</span></strong>. All Rights Reserved
        </div>
        <div class="credits">
        
         
        </div>
      </div>
    </div>

  </footer>
  <!-- End Footer -->