{% load static%}
<!-- ======= Header ======= -->
<header id="header" class="header d-flex align-items-center bg-dark">
  <div
    class="container-fluid container-xl d-flex align-items-center justify-content-between"
  >
    <!-- logo -->
    <a href="{% url 'index' %}" class="logo d-flex align-items-center">
      <img src="{% static 'assets/img/logo.png' %}" alt="" />
    </a>

    <i class="mobile-nav-toggle mobile-nav-show bi bi-list"></i>
    <i class="mobile-nav-toggle mobile-nav-hide d-none bi bi-x"></i>
    <nav id="navbar" class="navbar">
      <ul>
        <li>
          <a
            href="{% url 'index'%}"
            class="{% if request.path == '/' %}active{% endif %}"
            >Home</a
          >
        </li>
        <li>
          <a
            href="{% url 'about'%}"
            class="{% if request.path == '/about/' %}active{% endif %}"
            >About</a
          >
        </li>
        <li>
          <a
            href="{% url 'service'%}"
            class="{% if request.path == '/services/' %}active{% endif %}"
            >Training Services</a
          >
        </li>
        <li>
          <a
            href="{% url 'gallery' %}"
            class="{% if request.path == '/gallery/' %}active{% endif %}"
            >Gallery</a
          >
        </li>
        <li>
          <a
            href="{% url 'resource' %}"
            class="{% if request.path == '/resource/' %}active{% endif %}"
            >Resources</a
          >
        </li>
        <li>
          <a
            href="{% url 'contact'%}"
            class="{% if request.path == '/contact/' %}active{% endif %}"
            >Contact</a
          >
        </li>
        <li>
          <a
            href="{% url 'donate' %}"
            class="{% if request.path == '/resource/' %}active{% endif %} text-warning"
            >Donate</a
          >
        </li>
      </ul>
    </nav>
    <!-- .navbar -->
  </div>
</header>
<!-- End Header -->
