{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>Poimen - About</title>
  <meta content="" name="description">
  <meta content="" name="keywords">
   
  {% include 'company/include/head.html'%}
  
</head>

<body>

  {% include 'company/include/navbar.html'%}
  <main id="main">

    <!-- ======= Breadcrumbs ======= -->
    <div class="breadcrumbs d-flex align-items-center" style="background-image: url('{% static 'assets/img/breadcrumbs-bg.jpg' %}');">
      <div class="container position-relative d-flex flex-column align-items-center" data-aos="fade">

        <h2>About</h2>
        <ol>
          <li><a href="{% url 'index' %}">Home</a></li>
          <li>About</li>
        </ol>

      </div>
    </div><!-- End Breadcrumbs -->

       <!--About us section -->
       <section id="about" class="about" style="margin-top: -35px;">
        <div class="container" data-aos="fade-up">
          <div class="row content">
            <h3 style="margin-bottom: 0px;" class="text-warning fw-bold">About Us</h3>
            <div class="col-lg-6 my-3">
              <h4>History of Poimen Ministry</h4>
              <hr class="text-primary fw-bold h2 py-2 mb-2"/>
              <p>
                God wants all people to hear 
                the good news of Jesus Christ 
                and receive eternal salvation. 
                To hear the gospel, people 
                need to have access to the 
                sound teachings of God’s 
                Word. 
                </p>
                <p style="text-align: justify;" >
                We believe that the Church 
                has the primary responsibility 
                for teaching the gospel of Jesus Christ to people. However, the Church needs support 
                to preach and teach the Gospel to believers and reach out 
                to unreached people. 
                Poimen Ministry was established to support the preaching and teaching of the true 
                Gospel of Jesus Christ. 
                Poimen Ministry is a Christian 
                organization registered by the 
                Ethiopian Gospel Believers’ 
                Churches Council and has a 
                legal license to do ministry. 
                Poimen Ministry is governed 
                by seasoned and devoted 
                board of directors. 
              </p>
              <a href="{% url 'about'  %}"><button class="btn btn-outline-warning"> Read More</button></a>
             
            </div>
            <div class="col-lg-6 pt-4 pt-lg-0">
              <h4>Vision, Mission and Core Values</h4>
              <hr class="text-primary fw-bold h2 py-2 my-2"  />
              <div class="row">
                
                  <h5 class=" text-warning">Mission</h5>
                  <p> Poimen Ministry exists to provide 
                    Bible-based teaching, counseling 
                    and holistic support to Christ’s followers to be fruitful in their lives.
                    </p>
                
               </div>
               <div class="row" >
                  <h5  class="text-warning ">Vision</h5>
                  <p>To see believers, Christian families 
                    and Church ministers built on the 
                    Word of God, live godly life and 
                    bring people to Christ and help 
                    them grow in Christian faith. 
                    </p>
              </div>
              <div class="row">
                    <h5  class="text-warning">Core Values </h5>
                    <p>The Ministry abides by the following core values</p>
            
              <ul style="margin-left: 50px;">
                <li > Integrity </li>
                <li> Stewardship</li>
                <li> Transparency</li>
                <li> Partnership </li>
              </ul>
              </div>
             
             
            </div>
          </div>
  
        </div>
      </section><!-- End About Us Section -->
      <!--About section end-->

    <!-- ======= achivement Counter Section ======= -->
    <section id="stats-counter" class="stats-counter section-bg">
      <div class="container">

        <div class="row gy-4">

          <div class="col-lg-3 col-md-6">
            <div class="stats-item d-flex align-items-center w-100 h-100">
              <i class="bi bi-emoji-smile color-blue flex-shrink-0"></i>
              <div>
                <span data-purecounter-start="0" data-purecounter-end="232" data-purecounter-duration="1" class="purecounter"></span>
                <p>Happy Clients</p>
              </div>
            </div>
          </div><!-- End Stats Item -->

          <div class="col-lg-3 col-md-6">
            <div class="stats-item d-flex align-items-center w-100 h-100">
              <i class="bi bi-journal-richtext color-orange flex-shrink-0"></i>
              <div>
                <span data-purecounter-start="0" data-purecounter-end="15" data-purecounter-duration="1" class="purecounter"></span>
                <p>Books</p>
              </div>
            </div>
          </div><!-- End Stats Item -->

          <div class="col-lg-3 col-md-6">
            <div class="stats-item d-flex align-items-center w-100 h-100">
              <i class="bi bi-headset color-green flex-shrink-0"></i>
              <div>
                <span data-purecounter-start="0" data-purecounter-end="1463" data-purecounter-duration="1" class="purecounter"></span>
                <p>Hours of Videos</p>
              </div>
            </div>
          </div><!-- End Stats Item -->

          <div class="col-lg-3 col-md-6">
            <div class="stats-item d-flex align-items-center w-100 h-100">
              <i class="bi bi-people color-pink flex-shrink-0"></i>
              <div>
                <span data-purecounter-start="0" data-purecounter-end="15" data-purecounter-duration="1" class="purecounter"></span>
                <p>followers</p>
              </div>
            </div>
          </div><!-- End Stats Item -->

        </div>

      </div>
    </section><!-- End Stats Counter Section -->

    <!-- ======= achivement counter Section end ======= -->

    <!-- Core values Section -->
    <section id="alt-services" class="alt-services">


      <div class="container" data-aos="fade-up">

        <div class="row justify-content-around gy-4">
          <div class="col-lg-6 img-bg" style="background-image: url({% static 'assets/img/alt-services.jpg' %});" data-aos="zoom-in" data-aos-delay="100"></div>

          <div class="col-lg-5 d-flex flex-column justify-content-center">
            <h3>Poiment minstry is doing and serving the kingdom of God</h3>
            <p>we are ..</p>

            <div class="icon-box d-flex position-relative" data-aos="fade-up" data-aos-delay="100">
              <i class="bi bi-easel flex-shrink-0"></i>
              <div>
                <h4><a href="" class="stretched-link">Training Youth</a></h4>
                <p>Voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident</p>
              </div>
            </div><!-- End Icon Box -->

            <div class="icon-box d-flex position-relative" data-aos="fade-up" data-aos-delay="200">
              <i class="bi bi-patch-check flex-shrink-0"></i>
              <div>
                <h4><a href="" class="stretched-link">Teaching Gospel</a></h4>
                <p>At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque</p>
              </div>
            </div><!-- End Icon Box -->

            <div class="icon-box d-flex position-relative" data-aos="fade-up" data-aos-delay="300">
              <i class="bi bi-brightness-high flex-shrink-0"></i>
              <div>
                <h4><a href="" class="stretched-link">lighting</a></h4>
                <p>Explicabo est voluptatum asperiores consequatur magnam. Et veritatis odit. Sunt aut deserunt minus aut eligendi omnis</p>
              </div>
            </div><!-- End Icon Box -->

            <div class="icon-box d-flex position-relative" data-aos="fade-up" data-aos-delay="400">
              <i class="bi bi-brightness-high flex-shrink-0"></i>
              <div>
                <h4><a href="" class="stretched-link">starting</a></h4>
                <p>Est voluptatem labore deleniti quis a delectus et. Saepe dolorem libero sit non aspernatur odit amet. Et eligendi</p>
              </div>
            </div><!-- End Icon Box -->

          </div>
        </div>

      </div>
    </section>
    <!-- End Core values Section -->
    <div class="row">
      <div class="ratio ratio-16x9">
        <iframe src="https://youtu.be/YI8peAPGNsQ" title="YouTube video" allowfullscreen></iframe>
      </div>

    </div>
  </main><!-- End #main -->

   {% include 'company/include/footer.html'%}

  <a href="#" class="scroll-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

  <div id="preloader"></div>

   {% include 'company/include/vendor.html'%}
</body>

</html>