{% load static%}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta content="width=device-width, initial-scale=1.0" name="viewport" />

    <title>Poimen - Blog Details</title>
    <meta content="" name="description" />
    <meta content="" name="keywords" />

    {% include 'company/include/head.html'%}
  </head>

  <body>
    {% include 'company/include/navbar.html'%}
    <main id="main">
      <!-- ======= Breadcrumbs ======= -->
      <div
        class="breadcrumbs d-flex align-items-center"
        style="
          background-image: url('{% static 'assets/img/breadcrumbs-bg.jpg' %}');
        "
      >
        <div
          class="container position-relative d-flex flex-column align-items-center"
          data-aos="fade"
        >
          <h2>News Details</h2>
          <ol>
            <li><a href="{% url 'index' %}">Home</a></li>
            <li>News Details</li>
          </ol>
        </div>
      </div>
      <!-- End Breadcrumbs -->

      <!-- ======= Blog Details Section ======= -->
      <section id="blog" class="blog">
        <div class="container" data-aos="fade-up" data-aos-delay="100">
          <div class="row g-5">
            <div class="col-lg-8">
              <article class="blog-details">
                <div class="post-img">
                  <img src="/media/{{blog.image}}" alt="" class="img-fluid" />
                </div>

                <h2 class="title">{{blog.title}}</h2>

                <div class="meta-top">
                  <ul>
                    <!-- <li class="d-flex align-items-center"><i class="bi bi-person"></i> <a href="blog-details.html">John Doe</a></li> -->
                    <li class="d-flex align-items-center">
                      <i class="bi bi-clock"></i>
                      <a href="blog-details.html"
                        >{{blog.created_at |timesince }}</a
                      >
                    </li>
                    <li class="d-flex align-items-center">
                      <i class="bi bi-chat-dots"></i>
                      <a href="blog-details.html"
                        >{{blog.count_comment}} Comments</a
                      >
                    </li>
                  </ul>
                </div>
                <!-- End meta top -->

                <div class="content">{{blog.content | safe}}</div>
                <!-- End post content -->
              </article>
              <!-- End blog post -->

              <div class="post-author d-flex align-items-center">
                <!-- <img
                  src="{% static 'assets/img/blog/' %}"
                  class="rounded-circle flex-shrink-0"
                  alt=""
                /> -->
                <!-- <div>
                  <h4></h4>
                  <div class="social-links">
                    <a href="https://twitters.com/#"
                      ><i class="bi bi-twitter"></i
                    ></a>
                    <a href="https://facebook.com/#"
                      ><i class="bi bi-facebook"></i
                    ></a>
                    <a href="https://instagram.com/#"
                      ><i class="biu bi-instagram"></i
                    ></a>
                  </div>
                  <p>
                    
                  </p>
                </div> -->
              </div>
              <!-- End post author -->

              <div class="comments">
                <!-- <h4 class="comments-count">{{blog.count_comment}} Comments</h4> -->

                {% for comment in comments %}
                <div id="comment-1" class="comment">
                  <div class="d-flex">
                    <div class="comment-img">
                      <img
                        src="{% static 'assets/img/blog/comments-1.png' %}"
                        alt=""
                      />
                    </div>
                    <div>
                      <h5>
                        <a href="">{{comment.name}}</a>
                      </h5>
                      <time datetime="2020-01-01"
                        >{{comment.date | date:'F d, Y'}}</time
                      >
                      <p>{{comment.comment}}</p>
                    </div>
                  </div>
                </div>
                <!-- End comment #1 -->
                {% endfor %}

                <div class="reply-form">
                  <h4>Leave a Reply</h4>
                  <p>
                    Your email address will not be published. Required fields
                    are marked *
                  </p>
                  <form action="" method="post">
                    {% csrf_token %}          
                    <div class="row">
                      <div class="col-md-6 form-group">
                        <input
                          name="name"
                          type="text"
                          class="form-control {% if form.name.errors %} is-invalid {% endif %} "
                          placeholder="Your Name*"
                          id="id_name"
                        />
                      </div>
                      <div class="col-md-6 form-group">
                        <input
                          name="email"
                          type="text"
                          class="form-control{% if form.email.errors %} is-invalid {% endif %} "
                          placeholder="Your Email*"
                          id="id_email"
                        />
                      </div>
                    </div>

                    <div class="row">
                      <div class="col form-group">
                        <input
                          name="website"
                          type="text"
                          class="form-control {% if form.website.errors %} is-invalid {% endif %} "
                          placeholder="Your Website"
                          id="id_website"
                        />
                      </div>
                    </div>
                    <div class="row">
                      <div class="col form-group">
                        <textarea
                          name="comment"
                          class="form-control {% if form.comment.errors %} is-invalid {% endif %} "
                          placeholder="Your Comment*"
                          id="id_comment"
                        ></textarea>
                      </div>
                    </div>
                    <button type="submit" class="btn btn-primary">
                      Post Comment
                    </button>
                  </form>

                </div>
              </div>
              <!-- End blog comments -->
            </div>

            <div class="col-lg-4">
              <div class="sidebar">
                <!-- End sidebar search formn-->

                <div class="sidebar-item categories">
                  <h3 class="sidebar-title">Categories</h3>
                  <ul class="mt-3">
                    {% for category in categories%}
                    <li>
                      <a href="#"
                        >{{category}}
                        <span>({{category.count_categories}})</span></a
                      >
                    </li>
                    {% endfor %}
                  </ul>
                </div>
                <!-- End sidebar categories-->

                <div class="sidebar-item recent-posts">
                  <h3 class="sidebar-title">Recent Posts</h3>

                  <div class="mt-3">
                    {% for recent_blog in recent_blogs %}
                    <div class="post-item mt-3">
                      <img src="/media/{{recent_blog.image}}" alt="" />
                      <div>
                        <h4>
                          <a href="{% url 'blog_detail' recent_blog.slug %}"
                            >{{recent_blog.title}}</a
                          >
                        </h4>
                        <time datetime="2020-01-01"
                          >{{recent_blog.created_at | date:'F d, Y'}}</time
                        >
                      </div>
                    </div>
                    <!-- End recent post item-->
                    {% endfor %}
                  </div>
                </div>
                <!-- End sidebar recent posts-->

                <!-- End sidebar tags-->
              </div>
              <!-- End Blog Sidebar -->
            </div>
          </div>
        </div>
      </section>
      <!-- End Blog Details Section -->
    </main>
    <!-- End #main -->

    {% include 'company/include/footer.html'%}

    <a
      href="#"
      class="scroll-top d-flex align-items-center justify-content-center"
      ><i class="bi bi-arrow-up-short"></i
    ></a>

    <div id="preloader"></div>
    {% include 'company/include/vendor.html'%}
  </body>
</html>
