{% load static %}
{% load fontawesome_5 %}
<!DOCTYPE html>
<html lang="en">

<head>
  {% fontawesome_5_static %}
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>Poimen Ministry</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  {% include 'company/include/head.html' %}

</head>

<body>

  {% include 'company/include/navbar.html' %}
  <!-- ======= Hero Section ======= -->
  <section id="hero" class="hero">

    <div class="info d-flex align-items-center">
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-lg-6 text-center">
            <h2 data-aos="fade-down">Welcome to <span>Poimen Ministry</span></h2>
            <p data-aos="fade-up">To equip God's people for the works of service.</p>
          <a href="{% url 'about'%}" class="{% if request.path == '/about/' %}active{% endif %} btn btn-outline-info px-4 rounded-5" data-aos="fade-up" data-aos-delay="200" >Read More</a>
          </div>
        </div>
      </div>
    </div>

    <div id="hero-carousel" class="carousel slide" data-bs-ride="carousel" data-bs-interval="5000">

      <div class="carousel-item active"
        style="background-image: url({% static 'assets/img/hero-carousel/carsu1.jpg' %})"></div>
      <div class="carousel-item" style="background-image: url({% static 'assets/img/hero-carousel/carsu2.jpg' %})">
      </div>
      <div class="carousel-item" style="background-image: url({% static 'assets/img/hero-carousel/carsu3.jpg' %})">
      </div>
      <div class="carousel-item" style="background-image: url({% static 'assets/img/hero-carousel/carsu4.jpg' %})">
      </div>
      <div class="carousel-item" style="background-image: url({% static 'assets/img/hero-carousel/carsu5.jpg' %})">
      </div>

      <a class="carousel-control-prev" href="#hero-carousel" role="button" data-bs-slide="prev">
        <span class="carousel-control-prev-icon bi bi-chevron-left" aria-hidden="true"></span>
      </a>

      <a class="carousel-control-next" href="#hero-carousel" role="button" data-bs-slide="next">
        <span class="carousel-control-next-icon bi bi-chevron-right" aria-hidden="true"></span>
      </a>

    </div>

  </section><!-- End Hero Section -->

  <main id="main">

    <!-- ======= Get Started Section ======= -->
    <section id="get-started" class="get-started section-bg">
      <div class="container">

        <div class="row justify-content-between gy-4">

          <div class="col-lg-4 d-flex align-items-center" data-aos="fade-up">
            <div class="content">
              <h5> "In the same way, let your
                light shine before others, that
                they may see your good
                deeds and glorify your Father
                in heaven” (Matthew 5:16)" </h5>
            </div>
          </div>

          <div class="col-lg-6 shadow-lg card border-0 bg-light" data-aos="fade">

            <div class="card-body">

              <!-- <h3 class="text-warning">Poimen</h3> -->
              <div class="embed-responsive embed-responsive-16by9">
                <iframe style="width: 100%; height: 400px;" class="embed-responsive-item" src="https://www.youtube.com/embed/-gpndBo-irk" allowfullscreen></iframe>
              </div>
              
<!-- 
              <form action="" method="POST">
                  {% csrf_token %}

                <div class="mb-3">
                  <input type="text" name="name" class="form-control" placeholder="Name">
                </div>
                <div class="mb-3">
                  <input type="email" name="email" class="form-control" placeholder="Email">
                </div>
                <div class="mb-3">
                  <textarea class="form-control" name="message" cols="25" rows="10" placeholder="Message"></textarea>
                </div>

                <div class="d-grid gap-2">
                  <button class="btn btn-primary" type="submit">Subscribe</button>
                </div>
              </form> -->
              

            </div>

          </div><!-- End Quote Form -->

        </div>

      </div>
    </section><!-- End Get Started Section -->


    </section>
    <!--About us section -->
    <section id="about" class="about" style="margin-top: -75px;">
      <div class="container" data-aos="fade-up">
        <div class="row content">
        
          <h3 style="margin-bottom: 0px; " class="text-warning fw-bold  my-2 ">About Us</h3>
          <div class="col-lg-6 my-3">
            <h4>History of Poimen Ministry</h4>
            <hr class="text-primary fw-bold h2 py-2 my-2" />
            <p>
              God wants all people to hear
              the good news of Jesus Christ
              and receive eternal salvation.
              To hear the gospel, people
              need to have access to the
              sound teachings of God’s
              Word.
            </p>
            <p style="text-align: justify;">
              We believe that the Church
              has the primary responsibility
              for teaching the gospel of Jesus Christ to people. However, the Church needs support
              to preach and teach the Gospel to believers and reach out
              to unreached people.
              Poimen Ministry was established to support the preaching and teaching of the true
              Gospel of Jesus Christ.
              Poimen Ministry is a Christian
              organization registered by the
              Ethiopian Gospel Believers’
              Churches Council and has a
              legal license to do ministry.
              Poimen Ministry is governed
              by seasoned and devoted
              board of directors.
            </p>
            <a href="{% url 'about'  %}"><button class="btn btn-outline-warning"> Read More</button></a>

          </div>
          <div  class="col-lg-6 pt-4 pt-lg-0 ">
            <h4 style="margin-top: 10px; " class="my-3">Vision, Mission and Core Values</h4>
            <hr class="text-primary fw-bold h2 py-2 my-2" />
            <div class="row">

              <h5 class=" text-warning">Mission</h5>
              <p> Poimen Ministry exists to provide
                Bible-based teaching, counseling
                and holistic support to Christ’s followers to be fruitful in their lives.
              </p>

            </div>
            <div class="row">
              <h5 class="text-warning ">Vision</h5>
              <p>To see believers, Christian families
                and Church ministers built on the
                Word of God, live godly life and
                bring people to Christ and help
                them grow in Christian faith.
              </p>
            </div>
            <div class="row">
              <h5 class="text-warning">Core Values </h5>
              <p>The Ministry abides by the following core values</p>

              <dl style="margin-left: 50px;">
                <li> Integrity </li>
                <li> Stewardship</li>
                <li> Transparency</li>
                <li> Partnership </li>
              </dl>
            </div>


          </div>
        </div>

      </div>
    </section><!-- End About Us Section -->
    <!--About section end-->

    <!-- ======= News or Blogs start ======= -->
    <section id="recent-blog-posts" class="recent-blog-posts">
      <div class="container" data-aos="fade-up">



        <div style="margin-top: -80px;" class=" section-header">
          <h2>Recent News Posts</h2>
          <!-- <p>In commodi voluptatem excepturi quaerat nihil error autem voluptate ut et officia consequuntu</p> -->
        </div>

        <div class="row gy-5">

          {% for blog in recent_blog%}
          <div class="col-xl-4 col-md-6" data-aos="fade-up" data-aos-delay="100">
            <div class="post-item position-relative h-100">

              <div class="post-img position-relative overflow-hidden">
                <img src="{{blog.image}}" class="img-fluid" alt="">
                <span class="post-date">{{blog.created_at | timesince }} ago</span>
              </div>

              <div class="post-content d-flex flex-column">

                <h3 class="post-title text-dark h5">{{blog.title}}</h3>

                <div class="meta d-flex align-items-center">
                  <!-- <div class="d-flex align-items-center">
                  <i class="bi bi-person"></i> <span class="ps-2">Julia Parker</span>
                </div> -->
                  <br>

                  <button class="btn btn-outline-info my-3"> <a href="{% url 'blog_detail' blog.slug %}"
                      class="readmore stretched-link"><span>Read More</span><i class="bi bi-arrow-right"></i></a>
                  </button>
                </div>





              </div>

            </div>
          </div><!-- End post item -->
          {% endfor %}

        </div>

      </div>
    </section>

    <!-- Resources Section -->
    <section style="margin-top: -70px;" id="services" class="services section-bg">
      <div class="container" data-aoss="fade-up">

        <div class="section-header">
          <h2>Resources</h2>

        </div>

        <div class="row gy-4">
          {% if resources %}
          {% for resource in resources %}
          <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="100">
            <div class="service-item  position-relative">
              <div class="icon">
                <i class="mx-4 text-light ">{{resource.icon.as_html}}</i>

              </div>
              <h3>{{resource.title}}</h3>
              <p>{{resource.short_description}}</p>
              <a href="{% url 'resource_detail' resource.slug %}" class="me-3"> <button
                  class="btn btn-outline-info my-2">Read More</button></a>
              <a href="{{resource.document_link}}" class="readmore "> <button class="btn btn-outline-primary">Download
                  <i class="bi bi-arrow-down"></i></button></a>
            </div>
          </div><!-- End Service Item -->
          {% endfor %}
          {% endif %}
        </div>

      </div>
    </section><!-- End Resource Section -->

  </main><!-- End #main -->

  {% include 'company/include/footer.html'%}

  <a href="#" class="scroll-top d-flex align-items-center justify-content-center"><i
      class="bi bi-arrow-up-short"></i></a>

  <div id="preloader"></div>
  {% include 'company/include/vendor.html'%}

</body>

</html>