{% load static%}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta content="width=device-width, initial-scale=1.0" name="viewport" />

    <title>UpConstruction Bootstrap Template - Blog Details</title>
    <meta content="" name="description" />
    <meta content="" name="keywords" />

    {% include 'company/include/head.html'%}
  </head>

  <body>
    {% include 'company/include/navbar.html'%}
    <main id="main">
      <!-- ======= Breadcrumbs ======= -->
      <div
        class="breadcrumbs d-flex align-items-center"
        style="
          background-image: url('{% static 'assets/img/breadcrumbs-bg.jpg' %}');
        "
      >
        <div
          class="container position-relative d-flex flex-column align-items-center"
          data-aos="fade"
        >
          <h2>Resource Details</h2>
          <ol>
            <li><a href="{% url 'resource'%}">Resource</a></li>
            <li>Resource Details</li>
          </ol>
        </div>
      </div>
      <!-- End Breadcrumbs -->

      <!-- ======= resouce detail Section ======= -->
      <section id="blog" class="blog">
        <div class="container" data-aos="fade-up" data-aos-delay="100">
          <div class="row g-5">
            <div class="col-lg-10">
              <article class="blog-details">
                <div class="post-img">
                  <img src="/media/{{resource.image}}" alt="" class="img-fluid" />
                </div>

                <!-- start meta top-->
                <h2 class="title text-center ">{{resource.title}}</h2>

                <div class="meta-top">
                  <ul>
                    <!-- <li class="d-flex align-items-center"><i class="bi bi-person"></i> <a href="blog-details.html">John Doe</a></li> -->
                    <li class="d-flex align-items-end">
                      <i class="bi bi-clock"></i>
                      <a href="blog-details.html"
                        >{{resource.created_at |timesince }}</a
                      >
                    </li>
                    <li class="d-flex align-items-center">
                      <i class="bi bi-chat-dots"></i>
                      <a href="blog-details.html"
                        >{{resource.count_comment}} Comments</a
                      >
                    </li>
                  </ul>
                </div>
                <!-- End meta top -->

                <!--start the content-->
                <div class="content">{{resource.content | safe}}</div>
                <!-- End post content -->

              </article>
           

              <!--author start here -->
              <div class="post-author d-flex align-items-center">
                <img
                  src="{% static 'assets/img/blog/blog-author.jpg' %}"
                  class="rounded-circle flex-shrink-0"
                  alt=""
                />
                <div>
                  <h4>{{resource.user}}</h4>
                  <div class="social-links">
                    <a href="https://twitters.com/#"
                      ><i class="bi bi-twitter"></i
                    ></a>
                    <a href="https://facebook.com/#"
                      ><i class="bi bi-facebook"></i
                    ></a>
                    <a href="https://instagram.com/#"
                      ><i class="biu bi-instagram"></i
                    ></a>
                  </div>
                  <p>
                    {{resource.author_description}}
                  </p>
                </div>
              </div>
              <!-- End post author -->

          <!--this is a comments (but not working)-->
              <div class="comments">
                <h4 class="comments-count">{{resource.count_comment}} Comments</h4>

                {% for comment in comments %}
                <div id="comment-1" class="comment">
                  <div class="d-flex">
                    <div class="comment-img">
                      <img
                        src="{% static 'assets/img/blog/comments-1.jpg' %}"
                        alt=""
                      />
                    </div>
                    <div>
                      <h5>
                        <a href="">{{comment.name}}</a>
                        <!-- <a href="#" class="reply"
                          ><i class="bi bi-reply-fill"></i> Reply</a
                        > -->
                      </h5>
                      <time datetime="2020-01-01"
                        >{{comment.date | date:'F d, Y'}}</time
                      >
                      <p>{{comment.comment}}</p>
                    </div>
                  </div>
                </div>
                <!-- End comment #1 -->
                {% endfor %}
<!--comment forms-->
                <div class="reply-form">
                  <h4>Leave a Reply</h4>
                  <p>
                    Your email address will not be published. Required fields
                    are marked *
                  </p>
                  <form action="" method="post">
                    {% csrf_token %}
                    <div class="row">
                      <div class="col-md-6 form-group">
                        <input
                          name="name"
                          type="text"
                          class="form-control"
                          placeholder="Your Name*"
                          id="id_name"
                        />
                      </div>
                      <div class="col-md-6 form-group">
                        <input
                          name="email"
                          type="text"
                          class="form-control"
                          placeholder="Your Email*"
                          id="id_email"
                        />
                      </div>
                    </div>
                    <div class="row">
                      <div class="col form-group">
                        <input
                          name="website"
                          type="text"
                          class="form-control"
                          placeholder="Your Website"
                          id="id_website"
                        />
                      </div>
                    </div>
                    <div class="row">
                      <div class="col form-group">
                        <textarea
                          name="comment"
                          class="form-control"
                          placeholder="Your Comment*"
                          id="id_comment"
                        ></textarea>
                      </div>
                    </div>
                    <button type="submit" class="btn btn-primary">
                      Post Comment
                    </button>
                  </form>
                </div>
              </div>
  <!-- End comment forms -->
            </div>

           
          </div>
        </div>
      </section>
      <!-- End resource detail Section -->
    </main>
    <!-- End #main -->

    {% include 'company/include/footer.html'%}

    <a
      href="#"
      class="scroll-top d-flex align-items-center justify-content-center"
      ><i class="bi bi-arrow-up-short"></i
    ></a>

    <div id="preloader"></div>
    {% include 'company/include/vendor.html'%}
  </body>
</html>
