{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>Poimen - Service Details</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

{% include 'company/include/head.html' %}
</head>

<body>

   {% include 'company/include/navbar.html'%}
  <main id="main">

    <!-- ======= Breadcrumbs ======= -->
    <div class="breadcrumbs d-flex align-items-center" style="background-image: url('{% static 'assets/img/breadcrumbs-bg.jpg' %}');">
      <div class="container position-relative d-flex flex-column align-items-center" data-aos="fade">

        <h2>Service Details</h2>
        <ol>
          <li><a href="{% url 'index' %}">Home</a></li>
          <li>Service Details</li>
        </ol>

      </div>
    </div><!-- End Breadcrumbs -->

    <!-- ======= Service Details Section ======= -->
    <section id="service-details" class="service-details">
      <div class="container" data-aos="fade-up" data-aos-delay="100">

        <div class="row gy-4">

          <div class="row">
            <img src="/media/{{service.image}}" alt="" class="img-fluid services-img">
            <h3>{{service.title}}</h3>
            {{service.content | safe }}
        </div>

      </div>
    </section><!-- End Service Details Section -->

  </main><!-- End #main -->
  {% include 'company/include/footer.html'%}

  <a href="#" class="scroll-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

  <div id="preloader"></div>
{% include 'company/include/vendor.html'%}
</body>

</html>